/vendor/
/composer.lock

/runtime/
/web/assets/
/backend/runtime/
/backend/web/assets/
/frontend/runtime/
/frontend/web/assets/
console/runtime/

/.idea/
/*.swp
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db

node_modules/
npm-debug.log

/docker-compose.override.yml

.env
.env.*
