services:
  nginx:
    image: nginx:latest
    ports:
      - "8080:80"
    volumes:
      - ./frontend/web:/var/www/frontend/web
      - ./backend/web:/var/www/backend/web
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
      - fastapi
      - db
    networks:
      - appnet

  app:
    build: .
    volumes:
      - ./:/var/www
    expose:
      - "9000"
    networks:
      - appnet

  fastapi:
    build: ./fastapi
    volumes:
      - ./fastapi:/app
    expose:
      - "8000"
    networks:
      - appnet

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: proctoring_db
      MYSQL_USER: proctoring_user
      MYSQL_PASSWORD: proctoring_pass
      MYSQL_ALLOW_EMPTY_PASSWORD: "no"
      MYSQL_SSL_MODE: "DISABLED"
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - appnet

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "8081:80"
    depends_on:
      - db
    networks:
      - appnet

volumes:
  mysql_data:

networks:
  appnet:
    driver: bridge