version: "3.9"

services:
  nginx:
    image: nginx:latest
    ports:
      - "8080:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
      - fastapi
      - db

  app:
    build: 
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/var/www
    expose:
      - "9000"

  fastapi:
    build: ./fastapi
    volumes:
      - ./fastapi:/app
    expose:
      - "8000"

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: proctoring_db
      MYSQL_USER: proctoring_user
      MYSQL_PASSWORD: proctoring_pass
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "8081:80"
    depends_on:
      - db

volumes:
  mysql_data:
